


table.table.table-striped
    thead
        tr
            th Имя файла
            th Дата загрузки

    tbody

    - each file in files
        tr
            td #{file.name}
            td #{file.uploaded.toDateString()}
            td
                div.btn-group
                    button.btn.dropdown-toggle(data-toggle="dropdown") Действия
                        span(class="caret")
                    ul.dropdown-menu
                        li
                            a(href="javascript:void(0)") Зашифровать
                        li
                            a(href="javascript:void(0)") Подписать
                        li
                            a(href="javascript:void(0)") Отправить