extends layout

block content

    div.navbar.navbar-inverse.navbar-fixed-top
        div.navbar-inner
            div.container
                button.btn.btn-navbar(type="button", data-toggle="collapse", data-target=".nav-collapse")
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                span.brand #{username}
                div.nav-collapse.collapse
                    p.navbar-text.pull-right #{useremail}

                    ul.nav
                        li.active
                            a(href="javascript:void(0)", id="myfiles") Мои файлы
                        li
                            a(href="javascript:void(0)", id="inbox") Входящие


    div.container
        h3 Ваши файлы &nbsp
            a#uploadfile.btn(href="javascript:void(0)") + Загрузить

        div#filelist
            table#filelisttable.table.table-striped
                thead
                    tr
                        th Имя файла
                        th Размер
                        th Дата загрузки
                        th Пользователь
                        th Действия
                tbody
